.slider-header{
    margin: 0px;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    margin-top: 40px;
    margin-left: 50px;
    color: #fff;
}
.book-slider{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-left: 50px;
    position: relative;
    scroll-behavior: smooth;
    padding: 15px 0px;
    height: 313px;
}
.book-slider::-webkit-scrollbar{
    display: none;
}
.slider-card{
    border-radius:15px ;
    margin-right: 15px;
    cursor: pointer;
    height: 100%;
    position: relative;
}
.slider-card img{
    max-width: 200px;
    border-radius: 10px;
    -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.slider-card:hover{
    border: 4px solid #fff;
height: 96%;
-webkit-transition: all 0.1s ease;
transition: all 0.1s ease;
}
.slider-card:hover img {
    margin-bottom: -5px;
}
.slider-arrow-right{
    position: sticky;
    right: 0;
    padding: 10% 1%;
    height: 60px;
    z-index: 99;
    cursor: pointer;
    background-image: radial-gradient(#00000069, #9198e500);
}
.slider-arrow-left{
    position: sticky;
    left: 0;
    z-index: 99;
    padding: 10% 1%;
    height: 60px;
    cursor: pointer;
    background-image: radial-gradient(#00000069, #9198e500);
}
.book-overlay {
    width: 100%;
    position: absolute;
    background-image: linear-gradient(#ffffff00 30%, black 90%);
    max-width: 200px;
    border-radius: 10px;
    top: 0;
    height: 97%;
}
.slider-card:hover .book-overlay{
    height: 100.5%;
}
.rating{
    position: absolute;
    top: 0;
    right: 0;
    background: #163f5f;
    color: #fff;
    padding: 3px 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}
.title {
    position: absolute;
    color: #fff;
    left: 15px;
    font-weight: 500;
    bottom: 60px;
    font-size: 18px;
}
.author {
    position: absolute;
    color: #c3c3c3;
    left: 15px;
    bottom: 40px;
    font-size: 14px;
    max-height: 20px;
    overflow: hidden;
}
.publisher {
    position: absolute;
    color: #c3c3c3;
    left: 15px;
    bottom: 20px;
    font-size: 14px;
    font-weight: 200;
}
.marginright50{
    margin-right: 50px;
}
@media(max-width:991px){
    .slider-arrow-right {
        padding: 17% 1%;
    }
    .slider-arrow-left {
        padding: 17% 1%;
    }
}
@media(max-width:767px){
    .slider-header {
        margin-left: 30px;
    }
    .book-slider {
        margin-left: 30px;
    }
    .slider-arrow-right {
        padding: 35% 1%;
    }
    .slider-arrow-left {
        padding: 35% 1%;
    }
    .marginright50 {
        margin-right: 15px;
    }
}