.about{
    background: #141516;
    padding: 50px;
    transition: 1s;
}
.left-section{
    width: 40%;
    display: inline-block;
}
.left-section h1{
    font-weight: 400;
    color: #5d7080;
}
.selected-image{
    width: 100px;
    border-radius: 5px;
    margin-top: 15px;
}
.left-section button{
    background: #282a2c;
    color: #fff;
    display: block;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 12px 40px;
    margin-top: 30px;
    font-size: 16px;
}
.left-section button strong{
    font-weight: 100;
    font-size: 30px;
    vertical-align: middle;
    margin-left: 30px;
}

.right-section{
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding-top: 30px;
}
.right-section h5{
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    margin: 0px;
}
.right-section h6{
    font-size: 14px;
    color: #bdbdbd;
    margin: 0;
    font-weight: 400;
}
.right-section p {
    color: #bdbdbd;
    margin-top: 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: normal;
}
.close-button{
    float: right;
    cursor: pointer;
}

@media(max-width:767px){
.left-section {
    width: 100%;
}
.right-section {
    width: 100%;
}
}