body p{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.bg-section{
  background: url("./assets/bg.jpg");
  background-size: cover;
}