.header{
    padding: 25px;
}
.logo-holder {
    height: 40px;
    width: auto;
    display: inline-block;
}
.logo-holder img {
    max-height: 100%;
    max-width: 100%;
}
.search-holder{
    background: #282a2c;
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    float: right;
    display: inline;
    border-radius: 50%;
}