.banner{
    padding: 30px 0px;
}
.banner-title{
max-width: 40%;
}
.banner-title h1{
    font-size: 64px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.125;
    letter-spacing: normal;
    color: #fff;
    padding-left: 50px;
    margin: 0 0 16px;
}
.banner-description p{
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: .4px;
    color: #fff;
    margin: 0;
    max-width: 460px;
    padding-left: 50px;
}
@media(max-width:991px){
    .banner-title {
        max-width: 75%;
    }
}
@media(max-width:767px){
    .banner-title {
        max-width: 100%;
    }
    .banner-title h1 {
        font-size: 28px;
        padding-right: 30px;
        padding-left: 30px;
    }
    .banner-description p {
        padding-left: 30px;
        padding-right: 30px;
    }
    .slider-header {
        margin-left: 30px;
    }
}